<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="p-10">
    <div class="card rounded-xl mb-6">

    </div>
    <div class="card rounded-xl mb-6">
      <ion-label></ion-label>
      <ion-range class="p-5"></ion-range>
    </div>
    <div class="card rounded-xl mb-6">
      <ion-range class="p-5"></ion-range>
    </div>
    <div class="card rounded-xl mb-6">
      <ion-range class="p-5"></ion-range>
    </div>

  </div>

</ion-content>
